div[class*="col-"]{
	border: 0px solid black;
}

h2{
	text-align: center;
	font-family: times;
}
h3{
	text-align: center;
	font-family: times;
}

h4{
	text-align: center;
	font-family: times;
}

.a{
	padding-bottom: 420px;
}

#b{
	margin-left: 70px; padding-bottom: 25px;
}

#c{
	background-color: #70bbcc; 
}

#d{
	width: 48%;
}

#e{
	background-image: url(img/bg1.jpg);
}

#f{
	background-image: url(img/bg2.jpg);
}

#g{
	background-image: url(img/bg3.jpg);
}
.team-member {
  margin-bottom: 50px;
  text-align: center;
}

.team-member img {
  width: 225px;
  height: 225px;
  border: 7px solid #fff;
}