.lala{
	max-width: none; width: 100%
}

div[class*="col-"]{
	border: 1px solid black;
}

h1{
	text-align: center;
}

h3{
	text-align: center;
}

h4{
	text-align: center;
}

.a{
	padding-bottom: 420px;
}

#b{
	margin-left: 70px; padding-bottom: 300px;
}

#c{
	margin-left: 100px; padding-bottom: 300px;
}