/*.lala{
	max-width: none; width: 100%
}
*/
div[class*="col-"]{
	border: 0px solid black;
}

/*h1{
	text-align: center;
	font-family: times;
	/*background-color: #959ea0; 
}*/

h2{
	text-align: center;
	font-family: times;
}
h3{
	text-align: center;
}

h4{
	text-align: center;
	font-family: times;
}

.a{
	padding-bottom: 420px;
}

#b{
	margin-left: 70px; padding-bottom: 25px;
	background-image: url(./img/gambar2.jpg);
}

#c{
	background-color: #70bbcc; 
}

#d{
	width: 48%;
}